.side-bar
  .side-bar__username
    .side-bar__top-items
      %p.side-bar__top-items__name
        = current_user.name
      %ul.side-bar__top-items__icons
        %li.side-bar__top-items__icons__editbtn
          = link_to new_group_path do
            %i.fas.fa-edit
        %li.side-bar__top-items__icons__newbtn
          = link_to edit_user_path(current_user) do
            %i.fas.fa-cog      
  .side-bar__group-list
    - current_user.groups.each do |group|
      .side-bar__group-list__group
        = link_to '#' do
          .side-bar__group-list__group__name
            = group.name
          .side-bar__group-list__group__message
            メッセージはまだありません。